@use "../abstracts/functions" as *;

#footer {
    padding: 3rem 0 0;
    background: #00A0B41A;
    position: relative;
    &::before {
        background: linear-gradient(107.44deg, #00A0B4 -20.56%, #03C38A 110.73%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: "";
        width: 100%;
        height: 3px;
    }
    .f-logo {
        margin: 0 0 20px;
    }
    .f-text {
        p {
            font-size: 14px;
            line-height: 20px;
            color: #000;
            font-weight: 400;
            @include max(1400px) {
                br {
                    display: none;
                }
            }
        }
    }
    .list-bar {
        padding: 15px 0 0;
        h2 {
            margin: 0 0 20px;
            font-size: 20px;
            line-height: 22px;
            color: #000;
            font-weight: 600;
        }
        ul {
            li {
                a {
                    font-size: 16px;
                    line-height: 18px;
                    color: #000;
                    margin: 0 0 12px;
                    display: flex;
                    align-items: center;
                    @include max(1400px) {
                        font-size: 14px;
                        line-height: 16px;
                    }
                    img {
                        margin: 0 10px 0 0;
                    }
                }
            }
        }
    }
    .bottom-bar {
        padding: 20px 0;
        border-top: 1px solid #012E4B;
        p {
            font-size: 15px;
            line-height: 17px;
            color: #012E4B;
            font-weight: 700;
        }
        .s-icon {
            ul {
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: flex-end;
                li {
                    a {
                        display: block;
                    }
                }
            }
        }
    }
}