.main-header {
  position: relative;
  z-index: 9;
  .top-bar {
    background: #01324d;
    padding: 15px 0;
    font-size: 13px;
    a {
      color: #fff;
      text-decoration: none;
      transition: 0.3s;
      font-size: 12px;
      line-height: 14px;
      color: #fff;
      font-weight: 400;
      &:hover {
        opacity: 0.8;
      }
    }
    .top-contact {
      gap: 25px;
      a {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 14px;
        color: #fff;
        font-weight: 400;
        gap: 8px;
      }
    }
    .top-links {
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 25px;
      li {
        display: flex;
        align-items: center;
      }
    }
  }
  .menu-bar {
    background: linear-gradient( 90deg,rgba(0, 157, 184, 0.15) 0%, rgba(0, 196, 135, 0.15) 100%);
    padding: 5px 0;
    .navbar-brand {
      img {
        height: 60px;
        object-fit: contain;
      }
    }
    .navbar-nav {
      gap: 25px;
      .nav-item {
        &:focus-visible {
            outline: none;
        }
        &:focus {
            outline: none;
        }
      }
    }
    .nav-link {
      color: #474747;
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      transition: 0.3s;
      padding: 8px 0;
      border: 0;
      &:hover,
      &.active {
        opacity: 0.8;
        outline: none;
        border: 0;
      }
    }
    .dropdown-menu {
      border: none;
      border-radius: 8px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
      padding: 0;
      .dropdown-item {
        padding: 15px 10px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: #929292;
        &:hover {
          background: linear-gradient(90deg, #009db8 0%, #00c487 100%);
          color: #fff;
        }
      }
      li {
        &:first-child {
            a {
                border-radius: 8px 8px 0 0;
            }
        }
        &:last-child {
            a {
                border-radius: 0 0 8px 8px;
            }
        }
      }
    }
  }
}
